.wrap-game {
  text-align: center;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    .profile {
      margin: 0 1rem;
    }
  }
}

.wrap-board {
  display: flex;
  justify-content: center;

  .board {
    max-width: 56rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .card {
      margin: 0.4em;
    }
  }
}
